@model FurnitureStore.Models.UserItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
